/*this fixes a bug in code*/
* {
    box-sizing: border-box;
}
img {
    width: 100%
}
body {
padding: 20 px;
/*shift command p brings up colors*/
background: rgb(96.1%, 96.1%, 96.1%);
}
.card {
    /*short hand version of padding, covers all sides*/
    padding: 20 px;
    /*adds shadow to the box (horizontal, vertical, blur, color(use rgba)*/
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1)
    background-color: white;
    /*limits width*/
    max-width: 400px;
    /*centers anything in css*/
    margin: 0 auto;
    font-family: 'Lobster', cursive;
}
.field{
    margin-bottom: 20px;
}
.field > label {
    font-weight: bold;
    /*css version of a block, change from inline to block*/
    display: block;
    margin-bottom; 5px;
}
.field > input[type=text],
.field > input[type=password]{
    width: 100%;
    height: 40 px;
    border: 1px solid silver;
    border-radius: 4px;
    box-shadow: inset 2px 2px 5px rgba(0,0,0,0,1);
}
.field > select {
    width: 100%;
    height: 40px;
}
.field.labels-wrapping > label{
font-weight: normal;
}
/*no space to select both classes*/
.field.labels-wrapping > label:first-child{
font-weight: bold;
}

/*centers the actual button*/
.field.field-centered {
    text-align: center;
}
.field > button {
    background: darkslateblue;
    color: white;
    border: none;
    padding: 15px;
    font-weight: bold;
    border-radius: 4px;
    transition: all .3s ease;
}

.field > button:hover{
    transform: scale(2);
    background: darkviolet;
}
